@font-face {
  font-family: "Minecraft";
  src: url("fonts/Minecraft.ttf") format("truetype");

  font-family: "Monocraft";
  src: url("fonts/Monocraft.ttf") format("truetype-collection");
}

body {
  font-family: "Monocraft", sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  color: #f7afd0;
  margin: 20px;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(96, 66, 84, 0.071);
  padding: 30px 48px; 
  text-align: center;
  width: 400px; 
  height: 180px; 
  max-width: 90vw;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pink-box {
  color: #ef9edb;
  border-radius: 8px;
  border: 2px solid #c2638e;
  padding: 24px 16px 16px 16px; /* Add extra top padding */
  margin-top: 10px;
}

.h2 {
  font-size: 5px;
  color: #c2638e;
}

.about-me-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 120px;
  height: 50px;
  background: #fff0fa;
  border: 2px solid #c2638e;
  border-radius: 12px;
  color: #c2638e;
  text-align: center;          
  text-decoration: none;
  transition: box-shadow 0.2s, transform 0.2s;
  padding: 0 10px;
  margin: 20px 0 10px 20px;   
  font-size: 10px;
}

.about-me-square:hover {
  transform: translateY(-4px) scale(1.03);
  color: #aa597e;
  background: #f3e2ed;
}

.modal-box, #aboutme, #aboutme * {
  font-family: "Monocraft", sans-serif;
}

.about-me-square, .about-me-square * {
  font-family: "Monocraft", "Minecraft", 'Inter', sans-serif;
  font-size: 15px;
}
